.vertical-carousel {
  width: 450px;
  height: 530px;
  padding: 20px;
}
@media (max-width: 768px) {
  .vertical-carousel {
    width: 430px;
    height: 275px;
  }
}
@media (max-width: 450px) {
  .vertical-carousel {
    width: 300px;
    height: 227px;
  }
}
.vertical-carousel .carousel-card {
  position: relative;
  width: 100%;
  height: 241px;
  background-color: #fff;
  padding: 25px;
  -webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
@media (max-width: 450px) {
  .vertical-carousel .carousel-card {
    padding: 12px;
    height: 213px;
  }
}
.vertical-carousel .carousel-card:nth-child(even) {
  -webkit-transform: rotate(4.31deg);
  -ms-transform: rotate(4.31deg);
  transform: rotate(4.31deg);
}
.vertical-carousel .carousel-card:nth-child(odd) {
  -webkit-transform: rotate(-4.31deg);
  -ms-transform: rotate(-4.31deg);
  transform: rotate(-4.31deg);
}
.vertical-carousel .carousel-card .imgs {
  width: 100%;
  max-width: 100%;
  height: 182px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://cvlaval.com/sites/default/files/carousel/chat-1.jpg");
}
.carousel-card.active {
  opacity: 1;
}
.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 450px) {
  .controls {
    gap: 25px;
  }
}
.controls .circle {
  cursor: pointer;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #8cddee;
  opacity: 0.5;
  z-index: 99;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.controls .circle i {
  display: block;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  -webkit-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  transition: color 0.4s linear;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
@media (max-width: 450px) {
  .controls .circle {
    width: 31px;
    height: 31px;
  }
  .controls .circle i {
    font-size: 16px;
    line-height: 31px;
  }
}
.controls .circle.active {
  background-color: #f74e02;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 1;
}
.controls .circle:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50px;
  background: #fff;
  top: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 450px) {
  .controls .circle:after {
    height: 25px;
    top: 32px;
  }
}
.controls .circle:last-child:after {
  opacity: 0;
}
.left-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #07b4d9;
  padding: 40px;
}
@media (max-width: 450px) {
  .left-content {
    padding: 10px;
    height: 285px;
  }
}
.right-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
  padding: 140px 70px;
}
@media (max-width: 1024px) {
  .right-content {
    max-width: 350px;
    margin: auto;
    padding: 40px 20px !important;
  }
}
.right-content .cat-msg {
  max-width: 437px;
  line-height: 1.5;
  color: #0094b4;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (max-width: 768px) {
  .right-content .cat-msg {
    max-width: 350px;
  }
}
@media (max-width: 280px) {
  .right-content .cat-msg {
    max-width: 100%;
    font-size: 14px;
  }
}
.right-content .title {
  max-width: 456px;
  font-size: 45px;
  font-family: "Sansita Swashed";
  margin-top: 45px;
  margin-bottom: 45px;
  color: #0094b4;
}
@media (max-width: 768px) {
  .right-content .title {
    max-width: 380px;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.3;
  }
}
@media (max-width: 450px) {
  .right-content .title {
    font-size: 30px;
    max-width: 320px;
  }
}
