// Variables
@blueDark: #0094b4;
@sansitaFont: "Sansita Swashed";

// Header
.vertical-carousel {
	width: 450px;
	height: 547px;
	padding: 20px;

	@media (max-width: 768px) {
		width: 430px;
		height: 275px;
	}

	@media (max-width: 450px) {
		width: 300px;
		height: 227px;
	}

	.carousel-card {
		position: relative;
		width: 100%;
		height: 241px;
		background-color: #fff;
		padding: 25px;
		box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
		opacity: 0.6;
		transition: opacity 0.3s ease-in-out;

		@media (max-width: 450px) {
			padding: 12px;
			height: 213px;
		}

		&:nth-child(even) {
			transform: rotate(4.31deg);
		}

		&:nth-child(odd) {
			transform: rotate(-4.31deg);
		}

		img {
			width: 100%;
			max-width: 100%;
			height: 100%;
			display: block;
		}
	}
}

.carousel-card.active {
	opacity: 1;
}

.controls {
	display: flex;
	flex-direction: column;
	gap: 50px;

	@media (max-width: 450px) {
		gap: 25px;
	}
	.circle {
		cursor: pointer;
		position: relative;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: #8cddee;
		opacity: 0.5;
		z-index: 99;
		transition: opacity 0.3s linear;

		i {
			display: block;
			font-size: 22px;
			text-align: center;
			line-height: 45px;
			color: #fff;
			transition: color 0.4s linear;
			transform: scale(1);
		}

		@media (max-width: 450px) {
			width: 31px;
			height: 31px;

			i {
				font-size: 16px;
				line-height: 31px;
			}
		}

		&.active {
			background-color: #f74e02;
			transition: opacity 0.3s ease;
			opacity: 1;
		}

		&:after {
			content: "";
			position: absolute;
			width: 2px;
			height: 50px;
			background: #fff;
			top: 45px;
			left: 50%;
			transform: translateX(-50%);

			@media (max-width: 450px) {
				height: 25px;
				top: 32px;
			}
		}

		&:last-child:after {
			opacity: 0;
		}
	}
}

// Left and right content

// Header left content
.left-content {
	flex: 1;
	background-color: #07b4d9;
	padding: 40px;

	@media (max-width: 450px) {
		padding: 10px;
		height: 265px;
	}
}

// Header right content
.right-content {
	flex: 1;
	background-color: #fff;
	padding: 140px 70px;

	@media (max-width: 540px) {
		padding: 40px 20px !important;
	}

	.cat-msg {
		max-width: 437px;
		line-height: 1.5;
		color: @blueDark;
		transform: scale(1);
		transition: transform 0.3s ease;

		@media (max-width: 768px) {
			max-width: 350px;
		}

		@media (max-width: 280px) {
			max-width: 100%;
			font-size: 14px;
		}
	}

	.title {
		max-width: 456px;
		font-size: 45px;
		font-family: @sansitaFont;
		margin-top: 45px;
		margin-bottom: 45px;
		color: @blueDark;

		@media (max-width: 768px) {
			max-width: 380px;
			font-size: 35px;
			margin-top: 30px;
			margin-bottom: 30px;
			line-height: 1.3;
		}

		@media (max-width: 280px) {
			font-size: 25px;
		}
	}
}
