.nav {
  position: sticky;
  inset: 0;
  width: 100%;
  top: 0;
  height: 70px;
  z-index: 99999;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
@media (max-width: 780px) {
  .nav {
    height: 52px;
  }
}
.nav .wrapper {
  position: relative;
  width: 1081px;
  padding: 0 20px;
  align-items: center;
}
.nav .wrapper .logo img {
  width: 80px;
}
@media (max-width: 780px) {
  .nav .wrapper .logo img {
    height: 55px;
  }
}
.nav .wrapper .responsive-menu {
  cursor: pointer;
  position: absolute;
  right: 40px;
  color: #0094b4;
  display: none;
}
@media (max-width: 780px) {
  .nav .wrapper .responsive-menu {
    display: block;
  }
}
.nav .wrapper .responsive-menu .fa-close {
  border: 1px solid #0094b4;
  width: 22px;
  height: 22px;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  border-radius: 50px;
}
.nav .wrapper .menu .nav-link {
  color: #0094b4;
  font-size: 15px;
  transition: color 0.3s ease-in-out;
}
.nav .wrapper .menu .nav-link:hover {
  color: orangered;
}
@media (max-width: 780px) {
  .nav .wrapper .menu {
    position: absolute;
    inset: 0;
    top: 54px;
    padding: 20px 40px;
    transform: translateX(120%);
    visibility: hidden;
    transition: transform 0.5s ease-in-out;
    background: #fff;
    height: 100vh;
    z-index: 99999;
    flex-direction: column;
    gap: 25px;
  }
}
.nav .wrapper .menu.active {
  transform: translateX(0%);
  visibility: visible;
}
