@import "./reset.css";
@import "./nav.css";
@import "./header.css";
@import "./horizontal-carousel.css";
@import "./footer.css";
@import "./cookie-container.css";
@import "./scroll-to-top.css";

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto&family=Sansita+Swashed:wght@600&display=swap");

// Variables
@blueDark: #0094b4;
@lightOrange: #f74e02;
@sansitaFont: "Sansita Swashed";
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow: hidden;
	-webkit-transition: overflow 2s linear;
	-o-transition: overflow 2s linear;
	transition: overflow 2s linear;
}

body {
	font-family: "Roboto", sans-serif;
	overflow: hidden !important;
}

// Default style
.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 30px;

	@media (min-width: 1980px) and (max-width: 2600px) {
		gap: 45px;
	}
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.flex-header {
	@media (max-width: 1023px) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	@media (min-width: 1024px) and (max-width: 3000px) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

.container-horizontal-carousel {
	@media (min-width: 1980px) and (max-width: 2600px) {
		max-width: 600px;
	}
	@media (min-width: 1024px) and (max-width: 1180px) {
		max-width: 375px;
	}

	@media (max-width: 480px) {
		max-width: 277px;
	}

	@media (max-width: 280px) {
		max-width: 250px;
	}
}

.space-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.sansitaFont {
	font-family: @sansitaFont;
}

.content-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.gap-30 {
	gap: 30px;

	@media (max-width: 768px) {
		gap: 10px;
	}
}

.items-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.orange {
	color: @lightOrange;
}

.blue {
	color: @blueDark;
}

.wrapper {
	max-width: 1100px;
}

#header {
	.buttons {
		@media (max-width: 480px) {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			margin-top: 25px;
		}

		@media (max-width: 319px) {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-top: 30px;
		}
	}
}

#adopter-chat {
	.buttons {
		@media (min-width: 180px) and (max-width: 400px) {
			-webkit-box-orient: vertical !important;
			-webkit-box-direction: normal !important;
			-ms-flex-direction: column !important;
			flex-direction: column !important;
			margin-top: 30px;
		}
	}
}

.btn {
	width: 229px;
	height: 51px;
	display: block;
	text-align: center;
	line-height: 51px;
	text-decoration: none;
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 14px;

	@media (min-width: 1980px) and (max-width: 2600px) {
		width: 238px;
		height: 55px;
		line-height: 55px;
		font-size: 18px;
	}
	@media (min-width: 180px) and (max-width: 1281px) {
		width: 171px;
		height: 40px;
		font-size: 11px;
		line-height: 40px;
	}
}

.btn-fill {
	background-color: @lightOrange;
	color: #fff;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: @blueDark;
	}
}

.btn-stroke {
	position: relative;
	border: 1px solid @blueDark;
	color: @blueDark;
	overflow: hidden;
	z-index: 12;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		border: 1px solid @blueDark;
		background: @blueDark;
		border-radius: 50px 0 0 50px;
		z-index: -10;
		width: 0;
		opacity: 0;
		-webkit-transition: width 0.5s ease-in-out;
		-o-transition: width 0.5s ease-in-out;
		transition: width 0.5s ease-in-out;
	}

	&:hover&::after {
		width: 100%;
		opacity: 1;
		border-radius: 50px;
	}

	&:hover {
		color: #fff;
		-webkit-transition: width 0.5s ease-in-out;
		-o-transition: width 0.5s ease-in-out;
		transition: width 0.5s ease-in-out;
	}
}

.btn-stroke-orange {
	position: relative;
	border: 1px solid @lightOrange;
	color: @lightOrange;
	overflow: hidden;
	z-index: 12;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		border: 1px solid @lightOrange;
		background: @lightOrange;
		border-radius: 50px 0 0 50px;
		z-index: -10;
		width: 0;
		opacity: 0;
		-webkit-transition: width 0.5s ease-in-out;
		-o-transition: width 0.5s ease-in-out;
		transition: width 0.5s ease-in-out;
	}
	&:hover&::after {
		width: 120%;
		opacity: 1;
		border-radius: 50px;
	}
	&:hover {
		color: #fff;
		-webkit-transition: width 0.5s ease-in-out;
		-o-transition: width 0.5s ease-in-out;
		transition: width 0.5s ease-in-out;
	}
}

.hr-scroll {
	overflow: auto;
	overflow-y: hidden;
}

.vr-scroll {
	cursor: pointer;
	overflow: auto;
	overflow-x: hidden;
}

.vr-scroll::-webkit-scrollbar,
.hr-scroll::-webkit-scrollbar {
	visibility: hidden;
}

.slick-slider .slick-disabled {
	opacity: 0;
	pointer-events: none;
}
