@import "reset.css";
@import "loader.css";
@import "nav.css";
@import "header.css";
@import "horizontal-carousel.css";
@import "footer.css";
@font-face {
  font-family: 'DM Serif Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmseriftext/v10/rnCu-xZa_krGokauCeNq1wWyafM.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Sansita Swashed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sansitaswashed/v17/BXR8vFfZifTZgFlDDLgNkBydPKTt3pVCeYWqJnZSW2pubTo.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow: hidden;
  transition: overflow 2s linear;
}
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden !important;
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
}
.flex,
.flex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 1025px) and (max-width: 1180px) {
  .container-horizontal-carousel {
    max-width: 375px;
  }
}
@media (max-width: 480px) {
  .container-horizontal-carousel {
    max-width: 277px;
  }
}
@media (max-width: 280px) {
  .container-horizontal-carousel {
    max-width: 250px;
  }
}
.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sansitaFont {
  font-family: "Sansita Swashed";
}
@media (max-width: 1025px) {
  .flex-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.gap-30 {
  gap: 30px;
}
@media (max-width: 768px) {
  .gap-30 {
    gap: 10px;
  }
}
.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.orange {
  color: #f74e02;
}
.wrapper {
  max-width: 1100px;
}
@media (max-width: 480px) {
  header .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 25px;
  }
}
@media (max-width: 319px) {
  header .buttons {
    flex-direction: column;
    margin-top: 30px;
  }
}
.btn {
  width: 229px;
  height: 51px;
  display: block;
  text-align: center;
  line-height: 51px;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 14px;
}
@media (max-width: 768px) {
  .btn {
    width: 171px;
    height: 40px;
    font-size: 11px;
    line-height: 40px;
  }
}
.btn-fill {
  background-color: #f74e02;
  color: #fff;
}
.btn-stroke {
  position: relative;
  border: 1px solid #0094b4;
  color: #0094b4;
  overflow: hidden;
  z-index: 12;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.btn-stroke::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #0094b4;
  background: #0094b4;
  border-radius: 50px 0 0 50px;
  z-index: -10;
  width: 0;
  opacity: 0;
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.btn-stroke:hover.btn-stroke::after {
  width: 100%;
  opacity: 1;
  border-radius: 50px;
}
.btn-stroke:hover {
  color: #fff;
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.btn-stroke-orange {
  position: relative;
  border: 1px solid #f74e02;
  color: #f74e02;
  overflow: hidden;
  z-index: 12;
}
.btn-stroke-orange::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #f74e02;
  background: #f74e02;
  border-radius: 50px 0 0 50px;
  z-index: -10;
  width: 0;
  opacity: 0;
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.btn-stroke-orange:hover.btn-stroke-orange::after {
  width: 120%;
  opacity: 1;
  border-radius: 50px;
}
.btn-stroke-orange:hover {
  color: #fff;
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.hr-scroll {
  overflow: auto;
  overflow-y: hidden;
}
.vr-scroll {
  cursor: url("https://www.pngmart.com/files/13/Christmas-Kitten-Transparent-Background.png"), 20px;
  overflow: auto;
  overflow-x: hidden;
}
.vr-scroll::-webkit-scrollbar,
.hr-scroll::-webkit-scrollbar {
  visibility: hidden;
}
