@import "./reset.less";
@import "./nav.less";
@import "./header.less";
@import "./horizontal-carousel.less";
@import "./footer.less";

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto&family=Sansita+Swashed:wght@600&display=swap");

// Variables
@blueDark: #0094b4;
@lightOrange: #f74e02;
@sansitaFont: "Sansita Swashed";

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: "Roboto", sans-serif;
}

// Default style
.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 30px;
}

.flex,
.flex-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.container2 {
	@media (max-width: 450px) {
		max-width: 277px;
	}
}

.space-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.sansitaFont {
	font-family: @sansitaFont;
}

@media (max-width: 1024px) {
	.flex-header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

.content-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.gap-30 {
	gap: 30px;

	@media (max-width: 768px) {
		gap: 10px;
	}
}

.items-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.orange {
	color: @lightOrange;
}

.wrapper {
	max-width: 1100px;
}

header {
	.buttons {
		@media (max-width: 450px) {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			margin-top: 40px !important;
		}

		@media (max-width: 350px) {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			margin-top: 30px !important;
		}
	}
}

.btn {
	width: 229px;
	height: 51px;
	display: block;
	text-align: center;
	line-height: 51px;
	text-decoration: none;
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 14px;

	@media (max-width: 768px) {
		width: 171px;
		height: 40px;
		font-size: 11px;
		line-height: 40px;
	}
}

.btn-fill {
	background-color: @lightOrange;
	color: #fff;
}

.btn-stroke {
	position: relative;
	border: 1px solid @blueDark;
	color: @blueDark;
	overflow: hidden;
	z-index: 12;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		border: 1px solid @blueDark;
		background: @blueDark;
		border-radius: 50px 0 0 50px;
		z-index: -10;
		width: 0;
		opacity: 0;
		-webkit-transition: width 0.5s ease-in-out;
		-o-transition: width 0.5s ease-in-out;
		transition: width 0.5s ease-in-out;
	}

	&:hover&::after {
		width: 100%;
		opacity: 1;
		border-radius: 50px;
	}

	&:hover {
		color: #fff;
		-webkit-transition: width 0.5s ease-in-out;
		-o-transition: width 0.5s ease-in-out;
		transition: width 0.5s ease-in-out;
	}
}

.btn-stroke-orange {
	position: relative;
	border: 1px solid @lightOrange;
	color: @lightOrange;
	overflow: hidden;
	z-index: 12;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		border: 1px solid @lightOrange;
		background: @lightOrange;
		border-radius: 50px 0 0 50px;
		z-index: -10;
		width: 0;
		opacity: 0;
		-webkit-transition: width 0.5s ease-in-out;
		-o-transition: width 0.5s ease-in-out;
		transition: width 0.5s ease-in-out;
	}
	&:hover&::after {
		width: 120%;
		opacity: 1;
		border-radius: 50px;
	}
	&:hover {
		color: #fff;
		-webkit-transition: width 0.5s ease-in-out;
		-o-transition: width 0.5s ease-in-out;
		transition: width 0.5s ease-in-out;
	}
}

.hr-scroll {
	overflow: auto;
	overflow-y: hidden;
}

.vr-scroll {
	cursor: url("https://www.pngmart.com/files/13/Christmas-Kitten-Transparent-Background.png"),
		20px;
	overflow: auto;
	overflow-x: hidden;
}

.vr-scroll::-webkit-scrollbar,
.hr-scroll::-webkit-scrollbar {
	visibility: hidden;
}
