/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.nav {
  position: sticky;
  inset: 0;
  width: 100%;
  top: 0;
  height: 70px;
  z-index: 99999;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
@media (max-width: 800px) {
  .nav {
    height: 52px;
  }
}
.nav .wrapper {
  position: relative;
  width: 1081px;
  padding: 0 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav .wrapper .logo img {
  width: 80px;
}
@media (max-width: 800px) {
  .nav .wrapper .logo img {
    height: 55px;
  }
}
.nav .wrapper .responsive-menu {
  cursor: pointer;
  position: absolute;
  right: 40px;
  color: #0094b4;
  display: none;
}
@media (max-width: 800px) {
  .nav .wrapper .responsive-menu {
    display: block;
  }
}
.nav .wrapper .responsive-menu .fa-close {
  border: 1px solid #0094b4;
  width: 22px;
  height: 22px;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  border-radius: 50px;
}
.nav .wrapper .menu .nav-link {
  color: #0094b4;
  font-size: 15px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.nav .wrapper .menu .nav-link:hover {
  color: orangered;
}
@media (max-width: 800px) {
  .nav .wrapper .menu {
    position: absolute;
    inset: 0;
    top: 54px;
    padding: 20px 40px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    height: 100vh;
    z-index: 99999;
    gap: 25px;
  }
}
.nav .wrapper .menu.active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  visibility: visible;
}
.vertical-carousel {
  width: 450px;
  height: 530px;
  padding: 20px;
}
@media (max-width: 768px) {
  .vertical-carousel {
    width: 430px;
    height: 275px;
  }
}
@media (max-width: 450px) {
  .vertical-carousel {
    width: 300px;
    height: 227px;
  }
}
.vertical-carousel .carousel-card {
  position: relative;
  width: 100%;
  height: 241px;
  background-color: #fff;
  padding: 25px;
  -webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
@media (max-width: 450px) {
  .vertical-carousel .carousel-card {
    padding: 12px;
    height: 213px;
  }
}
.vertical-carousel .carousel-card:nth-child(even) {
  -webkit-transform: rotate(4.31deg);
  -ms-transform: rotate(4.31deg);
  transform: rotate(4.31deg);
}
.vertical-carousel .carousel-card:nth-child(odd) {
  -webkit-transform: rotate(-4.31deg);
  -ms-transform: rotate(-4.31deg);
  transform: rotate(-4.31deg);
}
.vertical-carousel .carousel-card .imgs {
  width: 100%;
  max-width: 100%;
  height: 182px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://cvlaval.com/sites/default/files/carousel/chat-1.jpg");
}
.carousel-card.active {
  opacity: 1;
}
.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 450px) {
  .controls {
    gap: 25px;
  }
}
.controls .circle {
  cursor: pointer;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #8cddee;
  opacity: 0.5;
  z-index: 99;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.controls .circle i {
  display: block;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  -webkit-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  transition: color 0.4s linear;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
@media (max-width: 450px) {
  .controls .circle {
    width: 31px;
    height: 31px;
  }
  .controls .circle i {
    font-size: 16px;
    line-height: 31px;
  }
}
.controls .circle.active {
  background-color: #f74e02;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 1;
}
.controls .circle:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50px;
  background: #fff;
  top: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 450px) {
  .controls .circle:after {
    height: 25px;
    top: 32px;
  }
}
.controls .circle:last-child:after {
  opacity: 0;
}
.left-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #07b4d9;
  padding: 40px;
}
@media (max-width: 450px) {
  .left-content {
    padding: 10px;
    height: 285px;
  }
}
.right-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
  padding: 140px 70px;
}
@media (max-width: 1024px) {
  .right-content {
    max-width: 350px;
    margin: auto;
    padding: 40px 20px !important;
  }
}
.right-content .cat-msg {
  max-width: 437px;
  line-height: 1.5;
  color: #0094b4;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (max-width: 768px) {
  .right-content .cat-msg {
    max-width: 350px;
  }
}
@media (max-width: 280px) {
  .right-content .cat-msg {
    max-width: 100%;
    font-size: 14px;
  }
}
.right-content .title {
  max-width: 456px;
  font-size: 45px;
  font-family: "Sansita Swashed";
  margin-top: 45px;
  margin-bottom: 45px;
  color: #0094b4;
}
@media (max-width: 768px) {
  .right-content .title {
    max-width: 380px;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.3;
  }
}
@media (max-width: 450px) {
  .right-content .title {
    font-size: 30px;
    max-width: 320px;
  }
}
.cute-cats {
  padding: 80px 0;
  background-color: #e1faff;
}
@media (max-width: 768px) {
  .cute-cats {
    padding: 40px 0;
  }
}
@media (max-width: 320px) {
  .cute-cats {
    padding: 30px 0;
  }
}
.cute-cats .sub-title {
  font-size: 25px;
  font-family: "Sansita Swashed";
  color: #0094b4;
  text-align: center;
  margin-bottom: 62px;
}
@media (max-width: 768px) {
  .cute-cats .sub-title {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .cute-cats .sub-title {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .cute-cats .sub-title {
    max-width: 241px;
    margin: auto;
    display: block;
  }
}
.cute-cats .container {
  height: 250px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #f74e02;
  margin-top: 300px;
}
@media (max-width: 540px) {
  .cute-cats .container {
    height: 209px;
    margin-top: 230px;
  }
}
.cute-cats .buttons {
  margin-top: 40px;
}
@media (max-width: 450px) {
  .cute-cats .buttons {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
}
.slick-slider {
  position: relative;
  max-width: 1146px;
  width: 80%;
  margin-top: -210px;
}
@media (min-width: 768px) {
  .slick-slider {
    max-width: 1000px;
  }
}
@media (max-width: 468px) {
  .slick-slider {
    max-width: 450px;
  }
}
@media (max-width: 320px) {
  .slick-slider {
    max-width: 280px;
    margin-top: -179px;
  }
}
.slick-slider button {
  position: absolute;
  z-index: 999;
  bottom: 280px;
}
.slick-slider .carousel-card {
  width: 340px;
  height: 462px;
  background-color: #fff;
  border: 5px solid #e2f7fc;
  border-radius: 11px;
  padding: 30px;
  color: #0094b4;
  margin: 0 20px;
  overflow: hidden;
}
.slick-slider .carousel-card .img {
  width: 100%;
  height: 231px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}
@media (max-width: 320px) {
  .slick-slider .carousel-card {
    max-width: 270px;
    padding: 15px;
    height: 388px;
  }
  .slick-slider .carousel-card .img {
    height: 211px;
  }
}
.slick-slider .carousel-card .img1 {
  background-image: url("https://cvlaval.com/sites/default/files/carousel/chat-1.jpg");
}
.slick-slider .carousel-card .img2 {
  background-image: url("https://www.santevet.com/upload/admin/images/article/chaton%20adoption.jpg");
}
.slick-slider .carousel-card .img3 {
  background-image: url("https://franc-info.com/wp-content/uploads/2022/03/260831505_129138119528928_1659459880283063327_n-e1648031165748.jpg");
}
.slick-slider .carousel-card .img4 {
  background-image: url("https://miaustore.com/fr/wp-content/uploads/sites/2/2018/03/preview101.jpg");
}
.slick-slider .carousel-card .cat-description {
  margin-top: 25px;
  font-size: 20px;
}
@media (max-width: 320px) {
  .slick-slider .carousel-card .cat-description {
    font-size: 15px;
  }
}
.slick-slider .carousel-card .handicap-name {
  margin-top: 10px;
  opacity: 1;
}
@media (max-width: 320px) {
  .slick-slider .carousel-card .handicap-name {
    font-size: 15px;
  }
}
.slick-slider .carousel-card .buttons {
  margin-top: 25px;
}
@media (max-width: 350px) {
  .slick-slider .carousel-card .buttons {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
}
.btn-arrow {
  cursor: pointer;
  width: 58px;
  height: 58px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  position: absolute;
  top: 170px;
}
@media (max-width: 320px) {
  .btn-arrow {
    width: 40px;
    height: 40px;
    font-size: 12px;
    top: 158px;
  }
}
.btn-arrow i {
  color: #0094b4;
}
.slick-prev {
  left: -10px;
}
@media (max-width: 768px) {
  .slick-prev {
    left: 8px;
  }
}
.slick-next {
  right: -5px;
}
@media (max-width: 768px) {
  .slick-next {
    right: 8px;
  }
}
.footer {
  padding: 40px 0;
  background-color: #0094b4;
  color: #fff;
  text-align: center;
}
.footer .nav-link-footer {
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.footer .nav-link-footer:hover {
  color: #e1faff;
}
.footer .horizontal-line {
  width: 100%;
  border: 1px solid rgba(204, 204, 204, 0.42);
  margin-top: 45px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .footer .menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footer .nav-link-footer {
    padding: 0 30px;
    font-size: 15px;
  }
}
@font-face {
  font-family: 'DM Serif Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmseriftext/v10/rnCu-xZa_krGokauCeNq1wWyafM.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Sansita Swashed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sansitaswashed/v17/BXR8vFfZifTZgFlDDLgNkBydPKTt3pVCeYWqJnZSW2pubTo.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
}
.flex,
.flex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (max-width: 450px) {
  .container2 {
    max-width: 277px;
  }
}
.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sansitaFont {
  font-family: "Sansita Swashed";
}
@media (max-width: 1040px) {
  .flex-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.gap-30 {
  gap: 30px;
}
@media (max-width: 768px) {
  .gap-30 {
    gap: 10px;
  }
}
.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.orange {
  color: #f74e02;
}
.wrapper {
  max-width: 1100px;
}
@media (max-width: 450px) {
  header .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 40px !important;
  }
}
@media (max-width: 350px) {
  header .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 30px !important;
  }
}
.btn {
  width: 229px;
  height: 51px;
  display: block;
  text-align: center;
  line-height: 51px;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 14px;
}
@media (max-width: 768px) {
  .btn {
    width: 171px;
    height: 40px;
    font-size: 11px;
    line-height: 40px;
  }
}
.btn-fill {
  background-color: #f74e02;
  color: #fff;
}
.btn-stroke {
  position: relative;
  border: 1px solid #0094b4;
  color: #0094b4;
  overflow: hidden;
  z-index: 12;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.btn-stroke::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #0094b4;
  background: #0094b4;
  border-radius: 50px 0 0 50px;
  z-index: -10;
  width: 0;
  opacity: 0;
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.btn-stroke:hover.btn-stroke::after {
  width: 100%;
  opacity: 1;
  border-radius: 50px;
}
.btn-stroke:hover {
  color: #fff;
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.btn-stroke-orange {
  position: relative;
  border: 1px solid #f74e02;
  color: #f74e02;
  overflow: hidden;
  z-index: 12;
}
.btn-stroke-orange::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #f74e02;
  background: #f74e02;
  border-radius: 50px 0 0 50px;
  z-index: -10;
  width: 0;
  opacity: 0;
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.btn-stroke-orange:hover.btn-stroke-orange::after {
  width: 120%;
  opacity: 1;
  border-radius: 50px;
}
.btn-stroke-orange:hover {
  color: #fff;
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.hr-scroll {
  overflow: auto;
  overflow-y: hidden;
}
.vr-scroll {
  cursor: url("https://www.pngmart.com/files/13/Christmas-Kitten-Transparent-Background.png"), 20px;
  overflow: auto;
  overflow-x: hidden;
}
.vr-scroll::-webkit-scrollbar,
.hr-scroll::-webkit-scrollbar {
  visibility: hidden;
}
